* {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.navbar {
  padding: 20px;
}


.navbar__img {
  vertical-align: middle;
  margin-left: 50px;
}

.navbar__list {
  display: inline-block;
  vertical-align: middle;
  margin-left: 460px;
}

.navbar__item {
  display: inline-block;
  margin-left: 40px;
}

.navbar__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #1f1534;

  opacity: 0.7;
}

.intro {
  margin-top: 100px;
  margin-left: 40px;
}

.intro__title {
  width: 450px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  color: #000000;

  mix-blend-mode: normal;
}

.intro__text {
  width: 450px;

  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;

  color: #7d7987;

  mix-blend-mode: normal;
  margin: 50px 0;
}

.intro__img {
  margin-left: 610px;
  margin-top: -400px;
}

.intro__btn {


  background: #458ff6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 55px;



  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;


  color: #ffffff;

  mix-blend-mode: normal;
  width: 200px;
  height: 60px;
  border: none;
}

.intro__btn:hover {
  background: #0e3bb5;
  transition: 0.3s;
  cursor: pointer;
}

h1{
 text-align: center;
}

.navbar__link:hover {
  color: #224dc4;
  opacity: 1;
  transition: 0.3s;
}

.our_section {
    padding: 72px 20px 80px;
    display: flex;
    justify-content: center;
    background: #fff; 
}

.our_container {
    width: 100%;
    text-align: center;
}


.our_heading {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 4px;
}

.our_divider {
    font-size: 26px;
    margin-bottom: 20px;
}

.our_sub {

    font-size: 14px;
    max-width: 820px;
    margin: 0 auto 44px;
    line-height: 1.6;
}

.our_grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}


.our_card {
    width: 330px;
    height: 204px;
    background-color: rgb(205, 197, 197);
    margin-top: 20px;
    border-radius: 10px;
}



.our_icon {
    width: 54px;
    height: 54px;
    background: rgba(46,160,255,0.08);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

.our_img {
margin-left: 270px;
width: 41px;
}

.our_title {
    margin: 0 0 8px;
    font-size: 17px;
    font-weight: 700;
}

.our_desc {
    font-size: 14px;
    line-height: 1.6;
}

.our_cta {
    display: inline-block;
    color: rgba(69, 143, 246, 1);
    margin-top: 26px;
    padding: 10px 28px;
    border: 2px solid rgba(46,160,255,0.3);
    border-radius: 30px;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}

.our_cta:hover{
  background: #0e3bb5;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
