* {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.navbar {
  padding: 20px;
}


.navbar__img {
  vertical-align: middle;
  margin-left: 50px;
}

.navbar__list {
  display: inline-block;
  vertical-align: middle;
  margin-left: 460px;
}

.navbar__item {
  display: inline-block;
  margin-left: 40px;
}

.navbar__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #1f1534;

  opacity: 0.7;
}

.intro {
  margin-top: 100px;
  margin-left: 40px;
}

.intro__left,
.intro__right {
  display: inline-block;
  vertical-align: middle;
}

.intro__title {
  width: 450px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  color: #000000;

  mix-blend-mode: normal;
}

.intro__text {
  width: 450px;

  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;

  color: #7d7987;

  mix-blend-mode: normal;
  margin: 50px 0;
}

.intro__img {
  margin-left: 110px;
}

.intro__btn {


  background: #458ff6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 55px;



  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;


  color: #ffffff;

  mix-blend-mode: normal;
  width: 200px;
  height: 60px;
  border: none;
}

.intro__btn:hover {
  background: #0e3bb5;
  transition: 0.3s;
  cursor: pointer;
}

h1{
 text-align: center;
}

.navbar__link:hover {
  color: #224dc4;
  opacity: 1;
  transition: 0.3s;
}

.our__wrapper{
    margin-top: 163px;
    text-align: center;
}

.our__text{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 56px;
color: #000000;
mix-blend-mode: normal;

}